{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Add Teacher {% endblock %}

{% block content %}

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Main part START -->
        <section>
            <div class="container">
                <div class="row g-5 justify-content-between">
                    <!-- Admission form START -->
                    <div class="col-md-8 mx-auto">
                        <!-- Title -->
                        <h2 class="mb-3 fs-4">مهارت ها</h2>
                        <!-- Form START -->
                        {% for message in messages %}
                            <h6 class="text-success">{{ message }}</h6>
                        {% endfor %}
                        <form class="row g-3" method="post" enctype="multipart/form-data">
                            {% csrf_token %}


                            <!-- name skill -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0">مهارت <span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form.name|attr:'class:form-control' }}
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0"> توضیحات لازم <span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form.description | attr:'class:form-control' }}

                                    </div>
                                </div>
                            </div>
                            <!-- learning_percentage -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0"> درصد مهارت <span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form.learning_percentage | attr:'class:form-control' }}

                                    </div>
                                </div>
                            </div>

                            <!-- work phone -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0"> گواهی مهارت <span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form.certificate_photo | attr:'class:form-control' }}

                                    </div>
                                </div>
                            </div>


                            <!-- Button -->
                            <div class="col-12 text-sm-end">
                                <button type="submit" class="btn btn-primary mb-0">ثبت</button>
                                <a href="{% url 'teacher_app:sixth_stage_admission' %}" class="btn btn-primary mb-0">مرحله بعد</a>
                            </div>
                        </form>
                        <!-- Form END -->
                    </div>
                    <!-- Admission form END -->
                </div>
            </div>
        </section>
        <!-- =======================
        Main part END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock %}



