{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Add Teacher {% endblock %}

{% block content %}

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Main part START -->
        <section>
            <div class="container">
                <div class="row g-5 justify-content-between">
                    <!-- Admission form START -->
                    <div class="col-md-8 mx-auto">
                        <!-- Title -->
                        <h2 class="mb-3 fs-4">اطلاعات شخصی</h2>
                        <!-- Form START -->
                        {% for message in messages %}
                            <h6 class="text-danger">{{ message }}</h6>
                        {% endfor %}
                        <form class="row g-3" method="post">
                            {% csrf_token %}


                            <!-- teaching experience -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0">تجربه تدریس <span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form.teaching_experience|attr:'class:form-control' }}
                                    </div>
                                </div>
                            </div>
                            <!-- gender -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0">جنسیت<span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8" >
                                        {{ form.gender|attr:'class:form-check-inline' }}
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-12">
                                <div class="row g-xl-0 align-items-center">
                                    <div class="col-lg-4">
                                        <h6 class="mb-lg-0"> توضیح کامل <span class="text-danger">*</span></h6>
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form.description | attr:'class:form-control' }}

                                    </div>
                                </div>
                            </div>


                            <!-- Button -->
                            <div class="col-12 text-sm-end">
                                <button type="submit" class="btn btn-primary mb-0">مرحله بعد</button>
                            </div>
                        </form>
                        <!-- Form END -->
                    </div>
                    <!-- Admission form END -->
                </div>
            </div>
        </section>
        <!-- =======================
        Main part END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock %}



