{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <title>Eduport - قالب HTML دوره آنلاین و آموزش</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="description" content="Eduport - قالب HTML دوره آنلاین و آموزش">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-rtl.css' %}">

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                    <div class="p-3 p-lg-5">
                        <!-- Title -->
                        <div class="text-center">
                            <h2 class="fw-bold fs-3">به بزرگترین انجمن ما خوش آمدید</h2>
                            <p class="mb-0 h6 fw-light">بیایید امروز چیز جدیدی یاد بگیریم!</p>
                        </div>
                        <!-- SVG Image -->
                        <img src="{% static 'images/element/02.svg' %}" class="mt-5" alt="">
                        <!-- Info -->
                        <div class="d-sm-flex mt-5 align-items-center justify-content-center">
                            <!-- Avatar group -->
                            <ul class="avatar-group mb-2 mb-sm-0">
                                <li class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" src="{% static 'images/avatar/01.jpg' %}"
                                         alt="avatar">
                                </li>
                                <li class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" src="{% static 'images/avatar/02.jpg' %}"
                                         alt="avatar">
                                </li>
                                <li class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" src="{% static 'images/avatar/03.jpg' %}"
                                         alt="avatar">
                                </li>
                                <li class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" src="{% static 'images/avatar/04.jpg' %}"
                                         alt="avatar">
                                </li>
                            </ul>
                            <!-- Content -->
                            <p class="mb-0 h6 fw-light ms-0 ms-sm-3"> بیش از 100 دانشجو به ما پیوستند، حالا نوبت
                                شماست.</p>
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="col-12 col-lg-6 m-auto">
                    <div class="row my-5">
                        <div class="col-sm-10 col-xl-8 m-auto">
                            <!-- Title -->
                            <span class="mb-0 fs-1">👋</span>
                            <h1 class="fs-4">ورود به حساب کاربری</h1>
                            <p class="mb-4">از دیدن شما خوشحالم! لطفا با حساب کاربری خود وارد شوید.</p>

                            <!-- Form START -->
                            <form method="post">
                                {% csrf_token %}

                                {% if form.non_field_errors  and  not form.username.errors  and not form.password.errors%}
                                    <div class="mb-4">
                                        <div id="passwordHelpBlock" class="form-text " style="color: red">
                                            {{ form.non_field_errors}}

                                        </div>
                                    </div>
                                {% endif %}
                                <!-- Email -->
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">نام کاربری *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                                class="bi bi-envelope-fill"></i></span>
                                        {{ form.username | attr:'class:form-control border-0 bg-light rounded-end ps-1,id:exampleInputEmail1' }}

                                    </div>
                                    {% if form.username.errors %}
                                        <div id="passwordHelpBlock" class="form-text" style="color: red">
                                            {{ form.username.errors }}

                                        </div>
                                    {% endif %}
                                </div>
                                <!-- Password -->
                                <div class="mb-2">
                                    <label for="inputPassword5" class="form-label">رمز عبور *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                                class="fas fa-lock"></i></span>
                                        {{ form.password|attr:'class:form-control border-0 bg-light rounded-end ps-1,id:inputPassword5' }}

                                    </div>
                                    <div id="passwordHelpBlock" class="form-text" style="color: red">
                                        {% if form.password.errors %}
                                            {{ form.password.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Check box -->
                                <div class="mb-2 d-flex justify-content-between mb-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                                    </div>
                                    <div class="text-primary-hover">
                                        <a href="forgot-password.html" class="text-secondary">
                                            <u>رمز خود را فراموش کرده اید؟</u>
                                        </a>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="align-items-center mt-0">
                                    <div class="d-grid">
                                        <button class="btn btn-primary mb-0" type="submit">ورود</button>
                                    </div>
                                </div>
                            </form>
                            <!-- Form END -->

                            <!-- Social buttons and divider -->
                            <div class="row">
                                <!-- Divider with text -->
                                <div class="position-relative my-2">
                                    <hr>
                                    <p class="small position-absolute top-50 start-50 translate-middle bg-body px-5">
                                        یـا</p>
                                </div>

                                <!-- Social btn -->
                                <div class="col-xxl-12 d-grid">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn bg-google mb-1 mb-xxl-0"><i
                                            class="fab fa-fw fa-google text-white me-2"></i>ورود با Google</a>
                                </div>
                                <!-- Social btn -->

                            </div>

                            <!-- Sign up link -->
                            <div class="mt-4 text-center">
                                <span>حساب کاربری ندارید؟ <a href="sign-up.html">ثبت نام</a></span>
                            </div>
                        </div>
                    </div> <!-- Row END -->
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'js/functions.js' %}"></script>

</body>

</html>